version: 2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.5
    steps:
      - checkout
      - run: bundle install -j4 --retry=3
      - run: rubocop-automata automata@example.com automata
